{% load static %}
<div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header row" id="headingOne">
          <div class="icon col-1">
            <img src="{% static 'inv/research.png' %}" alt="Storage">
          </div>
          <div class="col-11">
          <h5 class="m-0">
            <label class="collapsable_card_header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Dimensions
            </label>
          </h5>
          </div>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            {% for field in detailed_form %}
            <div class="form-group form-row m-1">
                <div class="col-sm-4">
                    <label>{{ field.label }}</label>
                </div>
                <div class="col-sm-8">
                    {{ field }}
                </div>
                </div>
            {% endfor %}
        </div>
      </div>
      <div class="card">
        <div class="card-header row" id="headingTwo">
          <div class="icon col-1">
            <img src="{% static 'inv/013-inventory.png' %}" alt="Storage">
          </div>
          <div class="col-11">
            <h5 class="mb-0">
              <label class="collapsed collapsable_card_header" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Storage Information
              </label>
            </h5>
          </div>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            {% for field in storage_form %}
            <div class="form-group form-row m-1">
                <div class="col-sm-4">
                    <label>{{ field.label }}</label>
                </div>
                <div class="col-sm-8">
                    {{ field }}
                </div>
            </div>   
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</div>
</div>
<!-- 	<div id= "submit" class= "btn btn-primary">Submit</div>
<input type="text" name="Product Name"> -->
