{% load static %}
      <div class="card">
        <div class="card-header" id="headingTwo">
          <label class="card-text">Dimensions</label>
        </div>
        <div class="card-body">
          {% for field in detailed_form %}
          <div class="form-group form-row m-1">
              <div class="col-sm-4">
                  <label>{{ field.label }}</label>
              </div>
              <div class="col-sm-8">
                  {{ field }}
              </div>
              </div>
          {% endfor %}
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingTwo">
          <label class="card-text">Storage Information</label>
        </div>
          <div class="card-body">
            {% for field in storage_form %}
            <div class="form-group form-row m-1">
                <div class="col-sm-4">
                    <label>{{ field.label }}</label>
                </div>
                <div class="col-sm-8">
                    {{ field }}
                </div>
            </div>   
            {% endfor %}
          </div>
      </div>

