{% load static %}
    <div class="card">
        <div class="card-header" id="headingTwo">
            <label class="card-text">Pricing</label>
        </div>
    <div class="card-body">
    {% for field in pricing_form %}
        <div class="form-group form-row m-1">
            <div class="col-sm-4">
                <label>{{ field.label }}</label>
            </div>
            <div class="col-sm-8">
                {{ field }}
            </div>
        </div>
    {% endfor %}
    </div>
</div>