<div class="card">
    <div class="card-body">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <div class="card-header">
                <label>Purchase</label>
            </div>
            <a class="nav-link btn-light" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Create Purchase Order</a>
            <a class="nav-link btn-light" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">View Purchase Order List</a>
            <div class="card-header">
                <label>Inventory</label>
            </div>
            <a class="nav-link btn-light" href="{% url 'create_product' %}" role="tab" aria-controls="v-pills-home" aria-selected="true">Create Product</a>
            <a class="nav-link btn-light" href="{% url 'products' %}" role="tab" aria-controls="v-pills-profile" aria-selected="false">View Product List</a>
            <div class="card-header">
                <label>Sales</label>
            </div>
            <a class="nav-link btn-light" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Create Sales Quote</a>
            <a class="nav-link btn-light" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Create Sales Order</a>
            <a class="nav-link btn-light" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">View Sales Order List</a>
            <div class="card-header">
                <label>Reports</label>
            </div>
            <a class="nav-link btn-light" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">View Report</a>
            <a class="nav-link btn-light" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Export</a>
        </div>
    </div>
</div>


