<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4" align="center">
                <h4 class="label-head">Quantity</h4>
                <input class="score form-control">
            </div>
            <div class="col-sm-4" align="center">
                <h4 class="label-head">Identifier</h4>
                <input class="score form-control">
            </div>
            <div class="col-sm-4" align="center">
                <h4 class="label-head">Location</h4>
                <input class="score form-control">
            </div>
        </div>
    </div>
</div>

