<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4" align="center">
                <h4 class="label-head">{{ status_form.quantity.label }}</h4>
                {{ status_form.quantity }}
            </div>
            <div class="col-sm-4" align="center">
                <h4 class="label-head">{{ status_form.identifier.label }}</h4>
                {{ status_form.identifier }}
            </div>
            <div class="col-sm-4" align="center">
                <h4 class="label-head">{{ status_form.location.label }}</h4>
                {{ status_form.location }}
            </div>
        </div>
    </div>
</div>

