<div class="container col-sm-6 m-2">
    <div class="container d-flex align-items-center row">
        <!-- <h2 class="col-sm-6">Create Product</h2> -->
        <h2 class="col-sm-6" style="color: #777777;">Create Product</h2>
            <div>
                <button class="btn btn-primary m-1"><i class="fas fa-plus"></i> New</button>
                <button class="btn btn-primary m-1"><i class="fas fa-edit"></i> Edit</button>
                <button class="btn btn-primary m-1"><i class="fas fa-save"></i> Save</button>
            </div>
    </div> 
</div>