{% load static %}
    <div class="card">
        <div class="card-header" id="headingTwo">
            <label class="card-text">Variants</label>
        </div>
        <div class="card-body" style="text-align: center;">
            <div class="row">
                <div class="col-4">
                    <img class="card-img-top" src="{% static 'main_1.png' %}" style="width: 120px;" alt="Card image cap">
                </div>
                <div class="col-4">
                    <img class="card-img-top" src="{% static 'main_2.png' %}" style="width: 120px;" alt="Card image cap">
                </div>
                <div class="col-4">
                    <img class="card-img-top" src="{% static 'main_3.png' %}" style="width: 120px;" alt="Card image cap">
                </div>
            </div>
        </div>
    </div>
