<div id="data" class="flex-grow-1">
    <div id="updatedData">
<form enctype="multipart/form-data" action="{% url 'purchase_order' %}" method="POST">
  {% csrf_token %}
        <div class="m-2 d-flex align-items-center flex-row flex-grow-1 justify-content-between view-title">
            <!-- <h2 class="col-sm-6">Create Product</h2> -->
            <h2 class="col-sm-6 d-flex flex-grow-1 label-head">Create Purchase Order</h2>
                <div class="d-flex flex-row">
                    <div class="btn btn-light m-1"><i class="fas fa-plus"></i> New</div>
                    <div class="btn btn-light m-1"><i class="fas fa-edit"></i> Edit</div>
                    <button type="submit" id="save" class="btn btn-light m-1"><i class="fas fa-save"></i> Save</button>
                    <!-- <button class="btn btn-light m-1" data-toggle="modal" data-target="#uploadModal"><i class="fas fa-file-import"></i> Import</button> -->
                    <a href="" class="btn btn-light m-1" id="print"><i class="fas fa-print"></i> Print</a>
                </div>
        </div>

 
<div class="row">
    <div class="col-sm-6 d-flex flex-fill flex-column">
      <div class="form-group form-row m-1">
        <div class="col-sm-4">
            <label>Selelct a vendor</label>
        </div>
        <div class="col-sm-8">
            {{ purchase_form.vendor }}
        </div>
      </div>
        {% include "vendor/vendor_info.html" %}
    </div>
    <div class="col-sm-6 d-flex flex-fill flex-column">
      {% include "purchase_order/po_pricing_info.html" %}
    </div>
</div>
{% include "purchase_order/po_products.html" %}
</form>
</div>
</div>
