{% load static %}
          <table class="table table-sm">
            <thead class="thead-light">
            <tr>
                <th scope="col"></th>
                <th scope="col">Product</th>
                <th scope="col">Identifier</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Discount</th>
                <th scope="col">Subtotal</th>
            </tr>
            </thead>
            <form action=""></form>
              <tbody id="addProduct">
                <!-- {{ purchase_form.prods }} -->
              </tbody>
            </form> 
        </table>
        <div class="row m-1">
          <div class="mr-auto">
            <div class="btn btn-light mr-auto" id="add"><i class="fas fa-plus"></i> Add</div>
          </div>
            <div>
              <table class="table" id="order_total">
                <form action=""></form>
                  <tbody id="order_total_body">
                    <tr>
                      <td>Subtotal</td>
                      <td class="orderSumLabel"><label id="total_sb">0.0</label></td>
                    </tr>
                    <tr>
                      <td>Tax</td>
                      <td class="orderSumLabel"><label id="total_tax">0.0</label></td>
                    </tr>
                    <tr style="border-top: 1px solid #ddd;">
                      <td>Order Total</td>
                      <td id="orderTotalLabel" class="orderSumLabel"><label id="total_amt">0.0</label></td>
                    </tr>
                  </tbody>
                </form> 
              </table>
            </div>
          </div>
        {{ prods|json_script:"product-data" }}
        <script>
          var count = 0;
          var data = JSON.parse(document.getElementById('product-data').textContent);
          document.getElementById('add').onclick = function(){
            count++;
            var opt='';
            var i;
            for (i in data){
              opt += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
            }
            var del = '<td><div onClick="deleteRow(this)"><span style="font-size: 1em; color: Tomato; cursor: pointer;"><i class="fas fa-minus-circle"></i></span></div></td>'
            var sel = '<select onchange="setIdentifier(this)" class="form-control" data-num="'+count+'" name="po-prods" id="sel'+count+'">'+opt+'</select>';
            var ids = '<td><label name="id'+count+'" id="id'+count+'">'+data[0].code+'</label></td>';
            var qty = '<td><input class="form-control" data-num='+count+' oninput="updateSubTotal(this)" type="text" name="qty'+count+'" id="qty'+count+'" value=0></td>';
            var pri = '<td><input class="form-control" data-num='+count+' oninput="updateSubTotal(this)" type="text" name="price'+count+'" id="price'+count+'" value=0></td>';
            var dis = '<td><input class="form-control" data-num='+count+' oninput="updateSubTotal(this)" type="text" name="dis'+count+'" id="dis'+count+'" value=0></td>';
            var sub = '<td class="orderSumLabel"><label name="subt'+count+'" id="subt'+count+'">0</label></td></tr>';
            // rows.innerHTML += '<tr><td id="prod'+count+'">'+sel+'</td><td><label name="id'+count+'" id="id'+count+'"></label></td><td><input class="form-control" type="text" name="qty'+count+'" id="qty'+count+'"></td><td><input class="form-control" type="text" name="price'+count+'" id="price'+count+'"></td><td><input class="form-control" type="text" name="dis'+count+'" id="dis'+count+'"></td><td><label name="subt'+count+'" id="subt'+count+'"></label></td></tr>';           
            var markup ='<tr>'+del+'<td id="prod'+count+'">'+sel+'</td>'+ids+qty+pri+dis+sub;           
            $('#addProduct').append(markup);
            }

          // Sets the identifier in the table according to the selected value in the product dropdown menu
          function setIdentifier(tag){
              var ind = data.findIndex(p => p.id == tag.value)
              $('#id'+tag.dataset.num)[0].textContent = data[ind].code
            }

          // Deletes the table row
          function deleteRow(row){
            $(row).parents("tr").remove();
            updateSubTotal(row);
          }

          // Updates the subtotal cell
          function updateSubTotal(inTag){
            var num = $(inTag).data('num')
            var q = $('#qty'+num).val()
            var d = $('#dis'+num).val()
            var p = $('#price'+num).val()
            var subtotal = p*q-(p*q*d/100);
            $('#subt'+num).html(subtotal.toFixed(2));
            // Calculate subtotals
            var subTags = $('label[id*="subt"]')
            var s = 0
            for(var i=0;i<subTags.length;i++){
              s += parseFloat(subTags[i].textContent)
            }
            $('#total_sb').html(s.toFixed(2));
            // Calculate tax
            var tax = s*8/100;
            $('#total_tax').html(tax.toFixed(2));
            // Calculate total amount
            var t = s+tax;
            $('#total_amt').html(t.toFixed(2));
          }
        </script>
