{% load static %}
<div class="d-flex flex-grow-1 flex-column">
  <div class="d-flex align-items-center view-title">
    <div class="col-sm-6 d-flex row justify-content-start flex-grow-1">
      <span class="model-icon"
        ><i class="fa fa-download" aria-hidden="true" style="scale: 200%"></i
      ></span>
      <h2 class="label-head">Purchase Orders</h2>
    </div>
  </div>

  {% include "purchase_order/po_table_and_pagination.html" %}
  <!-- Modal -->
  <div
    class="modal fade"
    id="delModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="delForm" action="" method="POST">
          {% csrf_token %}
          <div class="modal-body">
            Are you sure you want to delete purchase order
            <span id="object_name" style="font-weight: bold"></span> !
            <input type="hidden" name="object_id" id="object_id" value="" />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-danger">Delete</button>
          </div>
        </form>
      </div>
    </div>
    <script src="{% static 'table_manipulation.js' %}"></script>
    <script src="{% static 'purchase_invoice.js' %}"></script>
    <script type="text/javascript">
            cookie = {
              name: 'activeProductCorousel',
              parent:'corousel',
              valueLeft: 'create',
              valueRight: 'display',
              leftCorouselID: 'createCorousel',
              rightCorouselID: 'displayCorousel'
            }


      $('#id_po-vendor').val({{purchase_form.vendor_id}})
      $('#delModal').on('show.bs.modal', function(event){
          var button = $(event.relatedTarget);
          console.log(button)
          var obj_id = button.data('object_id');
          var obj_name = button.data('object_name');
          var delete_url = button.data('del_url');
          var modal = $(this);
          console.log(obj_name)
          modal.find('.modal-body #object_id').val(obj_id);
          modal.find('.modal-body #object_name').text(obj_name);
          modal.find('#delForm').attr('action',delete_url);
      })

        // Function for fetching product to be updated using AJAX
        function updateData(tag){
          var id = $(tag).data('id');
          console.log(id)
        $.ajax({
            url: "{% url 'update_purchase_order' %}",
            data: {
                'pk': id
            },
            dataType:'html',
            success: function(data){
              $('#data').html($('#updatedData',data).html())
            }
        });
      };
    </script>
  </div>
</div>
