{% extends 'base.html' %}

{% load template_helpers %}
{% load static %}
{% block title %}
  <div class="m-2">
    <div class="d-flex align-items-center row">
        <!-- <h2 class="col-sm-6">Create Product</h2> -->
        <div class="col-sm-4">
          <h2 style="color: #777777;">Purchase Orders</h2>
        </div>
        <div class="col-sm-8">
          <form class="form-inline" id="poFilterForm" action="" method="GET">
              <!-- {{ myFilter.form }} -->
              <div class="col-sm-9">
              {% for field in myFilter.form %}
                <div class="form-group form-row m-1">
                    <div class="col-sm-4">
                        <label>{{ field.label }}</label>
                    </div>
                    <div class="col-sm-8">
                        {{ field }}
                    </div>
                </div>
              </div>
                {% endfor %}
                  <button class="btn btn-sm btn-light" type="submit">Search</button>
          </form>
          <Script>
           $('#poFilterForm input').addClass('form-control')
          </Script>
        </div>
            
    </div> 
  </div>
{% endblock title %}

{% block contents %}
    <table class="table table-sm">
        <thead class="thead-light">
        <tr>
            <th scope="col">PO Number</th>
            <th scope="col">Vendor</th>
            <th scope="col">Date</th>
            <th scope="col">Subtotal</th>
            <th scope="col">Tax</th>
            <th scope="col">Total</th>
            <th scope="col">Update</th>
            <th scope="col">Remove</th>
            <th scope="col">Print</th>
        </tr>
        </thead>
        <tbody>
            {% for po in page_obj %}
            <tr>
                <!-- <th scope="row">1</th> -->
                <td class="po_name">{{ po.po }}</td>
                <td>{{ po.vendor }}</td>
                <td>{{ po.date }}</td>
                <td>{{ po.subtotal }}</td>
                <td>{{ po.taxtotal }}</td>
                <td>{{ po.ordertotal }}</td>
                <td><a href="{% url 'update_purchase_order' po.id %}" class="btn btn-sm btn-info">Update</a></td>
                <td><a href="" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delModal" data-del_url="{% url 'delete_purchase_order' po.id %}" data-vend_name="{{ po.name }}" data-vend_id="{{ po.id }}">Delete</a></td>
                <td><a onclick="printInvoice(this)" data-print_url="{% url 'print_purchase_order' po.id %}" data-po_id="{{ po.id }}"><i class="fas fa-print"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="d-flex">
      <div class="pagination mr-auto">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a class="btn btn-light btn-sm" href="{% relative_url 1 'page' request.GET.urlencode %}">&laquo; first</a>
            <a class="btn btn-light btn-sm" href="{% relative_url page_obj.previous_page_number 'page' request.GET.urlencode %}">previous</a>  
          {% endif %}

          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }},
          </span>

          {% if page_obj.has_next %}
            <a class="btn btn-light btn-sm" href="{% relative_url page_obj.next_page_number 'page' request.GET.urlencode %}">next</a>
            <a class="btn btn-light btn-sm" href="{% relative_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
      <div>
        Count: {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ n_prod }}
      </div>
    </div>

    <!-- Modal -->
  <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="delForm" action="" method="POST">
          {% csrf_token %}
        <div class="modal-body">
          Are you sure you want to delete <span id="po_name" style="font-weight: bold;"></span> !
        <input type="hidden" name="po_id" id="po_id" value="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Delete</button>
        </div>
      </form>
      </div>
    </div>

     <script type="text/javascript">
        $('#delModal').on('show.bs.modal', function(event){
            var button = $(event.relatedTarget);
            console.log(button)
            var po_id = button.data('po_id');
            var po_name = button.data('po_name');
            var delete_url = button.data('del_url');
            var modal = $(this);
            modal.find('.modal-body #po_id').val(po_id);
            modal.find('#po_name').text(po_name);
            modal.find('#delForm').attr('action',delete_url);
        })

        function printInvoice(tag){
        console.log(tag)
        var po_id = tag.dataset.po_id;
        console.log(po_id)
        console.log(tag.dataset.print_url)
        $.ajax({
            url: tag.dataset.print_url,
            data: {
                'po_id': po_id
            },
            dataType:'json',
            success: function(data){
              generatePDF(data);
              }
        });
    };

    function generatePDF(data){
        console.log(data)
        var faker = window.faker
        // Returns header rows for the main table
        function headRows() {
          return [
            { no: 'No', product: 'Product', quantity: 'Quantity', rate: 'Rate', cgst: 'CGST', sgst:'SGST', igst:'IGST',amount:'Amount' },
          ]
        }
        // Returns body rows for the main table
        function bodyRows(ppes) {
          // rowCount = rowCount || 10
          rowCount = ppes.length;
          let body = [];
          for (var j = 0; j < rowCount; j++) {
            console.log(ppes[j])
            if(ppes[j].product==null){
              var product = '--- Deleted Product ---';
            }
            else{
              var product = ppes[j].product.name+'\n'+ppes[j].product.description;
            }
            var p = ppes[j].price;
            var q = ppes[j].quantity;
            var d = ppes[j].discount;
            var amt = (p*q)-(p*q*d/100);
            body.push({
              no: j+1,
              product: product,
              quantity: ppes[j].quantity,
              rate: ppes[j].price,
              cgst: 0.00,
              sgst: 0.00,
              igst: 0.00,
              amount: amt,
            })
          }
          return body
        }
        // Aligns to right, the monetary columns in main table
        function alignCol(data){
          var col = data.column.index;
          if(col>1){
              data.cell.styles.halign = 'right';
            }
        }
      // Don't forget, that there are CORS-Restrictions. So if you want to run it without a Server in your Browser you need to transform the image to a dataURL
      // Use http://dataurl.net/#dataurlmaker
      var doc = new jsPDF({ orientation: 'portrait', unit: 'mm', lineHeight:1.25, format:'a4' });

      margins = {
                  top: 15,
                  bottom: 15,
                  left: 15,
                  right: 15
              };
        var lineHeight = 3;
        var atLine = margins.top;
        var pageHeight = doc.internal.pageSize.height || doc.internal.pageSize.getHeight();
        var pageWidth = doc.internal.pageSize.width || doc.internal.pageSize.getWidth();
        var usableWidth = pageWidth-margins.left-margins.right;

        let str = "Original for Recepient";
        doc.setFontSize(9);
        doc.text(str, pageWidth-margins.right, atLine,'right');
        atLine += lineHeight;
        
        str = "Purchase Order Number";
        doc.setFontSize(12);
        doc.text(str, pageWidth-margins.right, atLine+2,'right');
        atLine += lineHeight+5;
        
        str = String(data.po);
        doc.setFontSize(15);
        doc.text(str, pageWidth-margins.right, atLine,'right');
        atLine += lineHeight+2;
        
        str = "Date: "+ moment(data.date).format('MMMM Do YYYY');
        doc.setFontSize(9);
        doc.text(str, pageWidth-margins.right, atLine+2,'right');
        atLine += lineHeight+2;
        
        str = "Shipping Date: "+ moment(data.date).format('MMMM Do YYYY');
        doc.text(str, pageWidth-margins.right, atLine+2,'right');
        atLine += lineHeight+2;
        
        // Divider line
        doc.line(margins.left,atLine,pageWidth-margins.right,atLine)
        atLine += lineHeight+4;
        
        var part = usableWidth/3;
        doc.setFontSize(12)
          
        var h = [['Invent']]
        doc.autoTable({
          startY: atLine-3,
          theme: 'plain',
          tableWidth: 60,
          // styles: { cellPadding: 0.5, fontSize: 10, textColor:100 },
          styles: { cellPadding: 0.5, fontSize: 10},
          head: h,
          headStyles: { fontSize:12 },
          body: [
            ['Plot No 111 D, Govt Indl Est, Charcop, Kandivali (west)'],
            ['Mumbai, Maharashtra'],
            ['02228682378'],
            ['blahblah@blah.com']
          ]
        })

        var h = [['Vendor']]
        doc.autoTable({
          startY: atLine-3,
          theme: 'plain',
          tableWidth: 60,
          styles: { cellPadding: 0.5, fontSize: 10},
          margin: { left: margins.left+part },
          head: h,
          headStyles: { fontSize:12 },
          body: [
            [data.vendor.name+'\n'+data.vendor.address],
            [data.vendor.location],
            [data.vendor.phone],
            [data.vendor.email]
          ]
        })

        var h = [['Ship To']]
        doc.autoTable({
          startY: atLine-3,
          theme: 'plain',
          tableWidth: 60,
          styles: { cellPadding: 0.5, fontSize: 10},
          margin: { left: margins.left+2*part },
          head: h,
          headStyles: { fontSize:12 },
          body: [
            ['Plot No 111 D, Govt Indl Est, Charcop, Kandivali (west)'],
            ['Mumbai, Maharashtra'],
            ['02228682378'],
            ['blahblah@blah.com']
          ]
        })

        atLine += lineHeight+30;    

        // Divider line
        doc.line(margins.left,atLine,pageWidth-margins.right,atLine)
        atLine += lineHeight;
        
        ///////////////MAIN TABLE///////////////////

          let head = headRows()
          let body = bodyRows(data.ppes)
          
          doc.autoTable({
            theme: 'plain',
            head: head,
            body: body,
            styles: { fontSize: 10},
            startY: doc.previousAutoTable.finalY + 9,
            rowPageBreak: 'auto',
            bodyStyles: { valign: 'top' },
            didParseCell: function (cell, data) {
                              alignCol(cell, data);
                          }
          })

        var start = margins.left;

        atLine += lineHeight*30;

        // Divider line
        doc.line(margins.left,atLine,pageWidth-margins.right,atLine)
        atLine += lineHeight+3;
        
        atLine += lineHeight;
        
        // Divider line
        doc.line(margins.left,atLine,pageWidth-margins.right,atLine)
        atLine += lineHeight+4;
        
        str = "Authorized Signatory";
        doc.setFontSize(12);
        doc.text(str, start, atLine+2);
        
        str = "SUB TOTAL :";
        doc.setFontSize(10);
        doc.text(str, pageWidth-margins.right-40, atLine+2,'right');
        str = String(data.subtotal)
        doc.text(str, pageWidth-margins.right, atLine+2,'right');
        atLine += lineHeight+3;
        
        str = "TAX AMOUNT :";
        doc.text(str, pageWidth-margins.right-40, atLine+2,'right');
        str = String(data.taxtotal)
        doc.text(str, pageWidth-margins.right, atLine+2,'right');
        atLine += lineHeight+3;
        
        str = "ROUNDED OFF :";
        doc.text(str, pageWidth-margins.right-40, atLine+2,'right');
        str = String(data.ordertotal)
        doc.text(str, pageWidth-margins.right, atLine+2,'right');
        atLine += lineHeight+3;
        
        str = "ORDER TOTAL :";
        doc.text(str, pageWidth-margins.right-40, atLine+2,'right');
        str = String(data.ordertotal)
        doc.text(str, pageWidth-margins.right, atLine+2,'right');
        atLine += lineHeight+10;
        
        str = "Sixteen thousand nine hundred";
        doc.text(str, pageWidth-margins.right, atLine+2,'right');
        atLine += lineHeight+3;
        
        str = "Only";
        doc.text(str, pageWidth-margins.right, atLine+2,'right');
        atLine += lineHeight+5;
        
        str = "NOTE";
        doc.text(str, start, atLine+2);
        atLine += lineHeight+3;
        
        str = "Please deliver in 14 days maximum.";
        doc.text(str, start, atLine+2);
        atLine += lineHeight+3;
        
        var img = new Image()
        img.src = '{% static "logo.png" %}'
        img.onload = function(){
                  doc.addImage(img, 'png', margins.left, margins.top, 50, 25)
                  doc.output('datauri');
                  // doc.save("C:/Users/Girish/Desktop/jspdf/example.pdf");
                  }

        };
      </script>
  </div>
{% endblock %}