{% extends "base.html" %}
    
    {% block title %}
    <form enctype="multipart/form-data" action="" method="POST">
      {% csrf_token %}
            <div class="m-2 d-flex align-items-center row">
                <!-- <h2 class="col-sm-6">Create Product</h2> -->
                <h2 class="col-sm-6 mr-auto" style="color: #777777;">Create Product</h2>
                    <div class="float-right">
                        <div class="btn btn-light m-1"><i class="fas fa-plus"></i> New</div>
                        <div class="btn btn-light m-1"><i class="fas fa-edit"></i> Edit</div>
                        <button type="submit" id="save" class="btn btn-light m-1"><i class="fas fa-save"></i> Save</button>
                        <button class="btn btn-light m-1" data-toggle="modal" data-target="#uploadModal"><i class="fas fa-file-import"></i> Import</button>
                        <!-- <a href="" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#uploadModal"><i class="fas fa-file-import"></i> Import</a> -->
                    </div>
            </div>
              
    {% endblock %}

    {% block contents %}     
        <div class="row">
            <div class="col-sm-6">
                {% include "crud/basic_info.html" %}
                {% include "crud/thumbnail.html" %}
            </div>
            <div class="col-sm-6">
                {% include "crud/status.html" %}
                {% include "crud/pricing_info.html" %}
                {% include "crud/detailed_info.html" %}
            </div>
        </div>
      </form>
       <!-- Modal -->
  <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Upload</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="csvDrop" class="dropzone needsclick dz-clickable modal-body">
          <!-- <form class="dropzone needsclick dz-clickable"  id="myAwesomeDropzone" action="{% url 'upload' %}" method="POST" enctype="multipart/form-data"> -->
            {% csrf_token %}
                <div class="dz-message needsclick row">
                  <div class="col-sm-5">
                    {% load static %}
                    <img style="max-height: 100px;" src="{% static 'file-csv-solid.svg' %}" alt="">
                  </div>
                  <div class="col-sm-7">
                    <button type="button" class="dz-button">Drop files here or click to upload.</button><br />
                  </div>
                </div>
              </form>
          <div class="modal-footer">
            <button type="button" id"closeBtn" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="uploadBtn" class="btn btn-success">Upload</button>
          </div>
        <!-- </form> -->
      </div>
    </div>
  </div>
  {% load static %}
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/dropzone.js"></script> -->
    <script src="{% static 'dropzone.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
     <script type="text/javascript">
          $('#delModal').on('show.bs.modal', function(event){
            var button = $(event.relatedTarget);
            console.log(button)
            var product_id = button.data('prod_id');
            var product_name = button.data('prod_name');
            var modal = $(this);
            modal.find('.modal-body #pro_id').val(product_id);
            modal.find('#prod_name').text(product_name);
            // alert("you are here")
          //   document.getElementById('pro_id').value = 10;
        })
      </script>
      <script>
     var myDropzone = new Dropzone(document.querySelector('#csvDrop'), { // Make the whole body a dropzone
      url: "{% url 'upload' %}", // Set the url
      thumbnailWidth: 80,
      thumbnailHeight: 80,
      parallelUploads: 20,
      // previewTemplate: previewTemplate,
      autoQueue: false, // Make sure the files aren't queued until manually added
      // previewsContainer: "#previews", // Define the container to display the previews
      // clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
    });

    myDropzone.on("addedfile", function(file) {
      // Hookup the start button
      document.getElementById("uploadBtn").onclick = function() { myDropzone.enqueueFile(file); };
    });

    document.getElementById("uploadBtn").onclick = function() {
      myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));
    };
    document.getElementById("closeBtn").onclick = function() {
      myDropzone.removeAllFiles(true);
    };
    </script>
      <style>
          .main-section{
            margin:0 auto;
            padding: 20px;
            margin-top: 100px;
            background-color: #fff;
            box-shadow: 0px 0px 20px #c1c1c1;
            }
            .fileinput-remove,
            .fileinput-upload{
                display: none;
            }
      </style>
    {% endblock %}
    

    <script>
        function add_class(){
            document.getElementById('id_thumbnail-image').classList.add('btn');
        }
        
        add_class();
    </script>
