# Settings to add to C:/Apache24/conf/httpd.conf
# update as needed

#
# ServerName gives the name and port that the server uses to identify itself.
# This can often be determined automatically, but we recommend you specify
# it explicitly to prevent problems during startup.
#
# If your host doesn't have a registered DNS name, enter its IP address here.
#
# ServerName localhost:80 # use this if you're running this on a VirtualBox VM or PC
ServerName 103.156.51.42:80


# Django Project
LoadFile "c:/users/girish/appdata/local/programs/python/python37/python37.dll"
LoadModule wsgi_module "c:/users/girish/appdata/local/programs/python/python37/lib/site-packages/mod_wsgi/server/mod_wsgi.cp37-win_amd64.pyd"
WSGIPythonHome "D:/Dev/InventoryManagement/pyVenv"
WSGIScriptAlias / "D:/Dev/InventoryManagement/pyVenv/src/InventoryManagement/InventoryManagement/wsgi.py"
WSGIPythonPath "D:/Dev/InventoryManagement/pyVenv/src/InventoryManagement/"

<Directory "D:/Dev/InventoryManagement/pyVenv/src/InventoryManagement/">
    <Files wsgi.py>
        Require all granted
    </Files>
</Directory>

Alias /static "D:/Dev/InventoryManagement/pyVenv/src/InventoryManagement/static/"
<Directory "D:/Dev/InventoryManagement/pyVenv/src/InventoryManagement/static/">
    Require all granted
</Directory>