<div class="card">
    <div class="card-body">
    <!-- Vendor name field -->
    <div class="form-group form-row m-1">
        <div class="col-sm-4">
            <label>{{ company_form.name.label }}</label>
        </div>
        <div class="col-sm-8">
            {{ company_form.name }}
        </div>
    </div>
    <!-- Vendor identifier field -->
    <div class="form-group form-row m-1">
        <div class="col-sm-4">
            <label>{{ company_form.owner.label }}</label>
        </div>
        <div class="col-sm-8">
            {{ company_form.owner }}
        </div>
    </div>
    <!-- Vendor phone field -->
    <div class="form-group form-row m-1">
        <div class="col-sm-4">
            <label>{{ company_form.phone.label }}</label>
        </div>
        <div class="col-sm-8">
            {{ company_form.phone }}
        </div>
        </div>
    <!-- Vendor address field -->
    <div class="form-group form-row m-1">
        <div class="col-sm-4">
            <label>{{ company_form.address.label }}</label>
        </div>
        <div class="col-sm-8">
            {{ company_form.address }}
        </div>
        </div>
    <!-- Vendor email field -->
    <div class="form-group form-row m-1">
        <div class="col-sm-4">
            <label>{{ company_form.email.label }}</label>
        </div>
        <div class="col-sm-8">
            {{ company_form.email }}
        </div>
        </div>
    <!-- Vendor location field -->
    <div class="form-group form-row m-1">
        <div class="col-sm-4">
            <label>{{ company_form.location.label }}</label>
        </div>
        <div class="col-sm-8">
            {{ company_form.location }}
        </div>
        </div>
    </div>
</div>