<div id="data" class="flex-grow-1">
    <div id="updatedData">
        <form enctype="multipart/form-data" action="{% url 'update_company' %}" method="POST">
            {% csrf_token %}
            <div class="m-2 d-flex align-items-center row view-title">
                <div class="justify-content-start col-sm-6 d-flex row flex-grow-1">
                    <span class="model-icon"><i class="fa fa-building" aria-hidden="true" style="scale: 200%;"></i></span>
                    <h2 class="label-head">Update Company</h2>
                </div>
                <div class="float-right">
                    <div class="btn btn-light m-1" onclick="changeView()"><i class="fas fa-plus"></i> New</div>
                    <div class="btn btn-light m-1"><i class="fas fa-edit"></i> Edit</div>
                    <button type="submit" id="save" class="btn btn-light m-1"><i class="fas fa-save"></i> Save</button>
                    <input type="text" hidden name="pk" value="{{ pk }}">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    {% include "company/company_info.html" %}
                    {% include "crud/thumbnail.html" %}
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <label class="card-text">Shipping Address</label>
                        </div>
                        {% include 'company/shipping_address.html' %}
                    </div>
                </div>
              </div>
              </form>

        <script>
            // Function for fetching product to be updated using AJAX
            function changeView(){
            $.ajax({
                url: "{% url 'company' %}",
                data: {},
                dataType:'html',
                success: function(data){
                    $('#data').html($('#updatedData',data).html())
                }
              });
            };
          </script>
    </div>
</div>