{% extends 'base.html' %}

{% load template_helpers %}

{% block title %}
  <div class="m-2">
    <div class="d-flex align-items-center row">
        <!-- <h2 class="col-sm-6">Create Product</h2> -->
        <div class="">
          <h2 class="col-sm-6 mr-auto label-head">Products</h2>
        </div>
    </div> 
  </div>
{% endblock title %}

{% block contents %}
<form action="" method="GET">
<div id="tableData">
    <table id="productsTable" class="table table-sm table-striped">
        <thead class="thead-light">
        <tr>
          {% for key,value in filterState.items %}
            <th scope="col">
              <div class="flex row">
                <div class="col-sm-9 head-cell-content" style="display:flex;justify-content:center;align-items:center;">{{ value.label }}</div>
                <div class="col-sm-3 head-cell-content filter-icons">
                  <div class="flex row end-xs">
                    <div style="display:flex;justify-content:flex-start;align-items:center;">
                      <span style="cursor: pointer;" onClick="sort(this)" data-sort="ascend" data-column="{{ key }}">
                        <i class="fas fa-caret-left"></i>
                      </span>
                    </div>
                    <div style="display:flex;padding:0em; flex-flow: column;">
                      <span style="cursor: pointer;" onClick="sort(this)" data-sort="ascend" data-column="{{ key }}">
                        <i class="fas fa-caret-up"></i>
                      </span>
                      <span style="cursor: pointer;" onClick="sort(this)" data-sort="descend" data-column="{{ key }}">
                        <i class="fas fa-caret-down"></i>
                      </span>
                    </div>
                    <div style="display:flex;justify-content:flex-start;align-items:center;">
                      <span style="cursor: pointer;">
                        <i class="fas fa-caret-right"></i>
                      </span>
                    </div>
                  </div>
                </div>
            </th>
          {% endfor %}
            <th scope="col">Update</th>
            <th scope="col">Remove</th>
        </tr>
        </thead>

        <tbody id="tableBody">
            <tr id="productsFilterForm">
              <td hidden></td>
              {% for field in myFilter.form %}
                <td>{{field}}</td>
              {% endfor %}
              <td></td>
              <td></td>
              <td hidden><button class="btn btn-sm btn-info" type="submit" hidden>Search</button></td>
            </tr>
            {% for product in page_obj %}
            <tr>
                <!-- <th scope="row">1</th> -->
                <td class="product_name">{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.identifier }}</td>
                <td>{{ product.location }}</td>
                <td><a href="{% url 'update_product' product.id %}" class="btn btn-sm btn-info">Update</a></td>
                <td><a href="" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delModal" data-del_url="{% url 'delete_product' product.id %}" data-prod_name="{{ product.name }}" data-prod_id="{{ product.id }}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </form>

    <!-- Pagination -->
    <div class="d-flex">
      <div class="pagination mr-auto">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a class="btn btn-warning btn-sm" href="{% relative_url 1 'page' request.GET.urlencode %}">&laquo; first</a>
            <a class="btn btn-warning btn-sm" href="{% relative_url page_obj.previous_page_number 'page' request.GET.urlencode %}">previous</a>  
          {% endif %}

          <span class="btn btn-warning btn-sm current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </span>

          {% if page_obj.has_next %}
            <a class="btn btn-warning btn-sm" href="{% relative_url page_obj.next_page_number 'page' request.GET.urlencode %}">next</a>
            <a class="btn btn-warning btn-sm" href="{% relative_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
      <div>
        Count: {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ n_prod }}
      </div>
    </div>
  </div>

    <!-- Modal -->
  <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="delForm" action="" method="POST">
          {% csrf_token %}
            <div class="modal-body">
              Are you sure you want to delete <span id="prod_name" style="font-weight: bold;"></span> !
              <input type="hidden" name="product_id" id="pro_id" value="">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger">Delete</button>
            </div>
      </form>
      </div>
    </div>

     <script type="text/javascript">
        $('#delModal').on('show.bs.modal', function(event){
            var button = $(event.relatedTarget);
            console.log(button)
            var product_id = button.data('prod_id');
            var product_name = button.data('prod_name');
            var delete_url = button.data('del_url'); 
            console.log(delete_url)
            var modal = $(this);
            modal.find('.modal-body #pro_id').val(product_id);
            modal.find('#prod_name').text(product_name);
            modal.find('#delForm').attr('action',delete_url);
        })

        // Function for sorting products (ascending or descending)
        function sort(tag){
          var column = $(tag).data('column');
          var sort = $(tag).data('sort');
          var searchParams = new URLSearchParams(window.location.search)
          searchParams.append("column",column);
          searchParams.append("sort", sort);
          console.log(searchParams)
          // $('#productsFilterForm').find('input').addClass('form-control')
          // $.get("{% url 'products' %}",searchParams.toString(),function( data ) {$("body").html(data);})
          $('#tableData').load("{% url 'products' %} #productsTable", searchParams.toString());
          // $('#ajaxTargetTag').load("{% url 'products' %} #ajaxSourceTag", searchParams.toString());

          // window.location.reload();
        }
        $('#productsFilterForm').find('input').addClass('form-control')
      </script>

  </div>
{% endblock %}