{% extends 'base.html' %}

{% load template_helpers %}

{% block title %}
  <div class="m-2">
    <div class="d-flex align-items-center row">
        <!-- <h2 class="col-sm-6">Create Product</h2> -->
        <div class="col-sm-2">
          <h2 style="color: #777777;">Products</h2>
        </div>
        <div class="col-sm-10">
          <form class="form-inline" id="productsFilterForm" action="" method="GET">
              <!-- {{ myFilter.form }} -->
              <div class="col-sm-9">
              {% for field in myFilter.form %}
                <div class="form-group form-row m-1">
                    <div class="col-sm-4">
                        <label>{{ field.label }}</label>
                    </div>
                    <div class="col-sm-8">
                        {{ field }}
                    </div>
                </div>
              </div>
                {% endfor %}
                  <button class="btn btn-sm btn-light" type="submit">Search</button>
          </form>
          <Script>
           $('#productsFilterForm input').addClass('form-control')
          </Script>
        </div>
            
    </div> 
  </div>
{% endblock title %}

{% block contents %}
    <table class="table table-sm">
        <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Identifier</th>
            <th scope="col">Location</th>
            <th scope="col">Update</th>
            <th scope="col">Remove</th>
        </tr>
        </thead>
        <tbody>
            {% for product in page_obj %}
            <tr>
                <!-- <th scope="row">1</th> -->
                <td class="product_name">{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.identifier }}</td>
                <td>{{ product.location }}</td>
                <td><a href="{% url 'update_product' product.id %}" class="btn btn-sm btn-info">Update</a></td>
                <td><a href="" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delModal" data-prod_name="{{ product.name }}" data-prod_id="{{ product.id }}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="d-flex">
      <div class="pagination mr-auto">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="{% relative_url 1 'page' request.GET.urlencode %}">&laquo; first</a>
            <a href="{% relative_url page_obj.previous_page_number 'page' request.GET.urlencode %}">previous</a>  
          {% endif %}

          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }},
          </span>

          {% if page_obj.has_next %}
            <a href="{% relative_url page_obj.next_page_number 'page' request.GET.urlencode %}">next</a>
            <a href="{% relative_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
      <div>
        Count: {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ n_prod }}
      </div>
    </div>

    <!-- Modal -->
  <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{% url 'delete_product' %}" method="POST">
          {% csrf_token %}
        <div class="modal-body">
          Are you sure you want to delete <span id="prod_name" style="font-weight: bold;"></span> !
        <input type="hidden" name="product_id" id="pro_id" value="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Delete</button>
        </div>
      </form>
      </div>
    </div>

     <script type="text/javascript">
        $('#delModal').on('show.bs.modal', function(event){
            var button = $(event.relatedTarget);
            console.log(button)
            var product_id = button.data('prod_id');
            var product_name = button.data('prod_name');
            var modal = $(this);
            modal.find('.modal-body #pro_id').val(product_id);
            modal.find('#prod_name').text(product_name);
        })
      </script>
  </div>
{% endblock %}