{% load template_helpers %}
<div id="historydata">
    <div id="eventlist" >
      <ul class="scroller">
        {% for event in dicts %}
          <li>
            <div id="history-card" class="card bg-light" onclick="updateHistoryObject(this)" data-id={{event.objId}} data-route={{lookupRoute|lookup:event.objmodel}} style="width:96%;">
                <h6 class="card-title">{{event.objname}}</h6>
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="card-subtitle mb-2 text-muted">{{event.objmodel}} 
                    {% if event.operation == "Create" %}
                      <span class="badge badge-success">{{event.operation}}d</span>
                    {% elif event.operation == "Update" %}
                      <span class="badge badge-primary">{{event.operation}}d</span>
                    {% elif event.operation == "Delete" %}
                      <span class="badge badge-danger">{{event.operation}}d</span>
                    {% endif %}
                  </h6>
                  <h6 class="card-subtitle mb-2 text-muted">{{event.date}}</h6>
                </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>