{% load template_helpers %}
<div id="history-pane" class="col-sm-12 flex-grow-1 card bg-light" style="margin: 0.2em;">
<div class="sidebar-menu bg-light">
  <div class="header-menu border-bottom" style="text-align: center;">
    <span>History</span>
  </div>
  
  <div class="col-sm-12 justify-content-between" style="padding:0em">
    <div id="historyCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
      <div class="carousel-inner">
        <div id="eventsCorousel" class="carousel-item active">
          <div class="d-flex row" style="width: 96%;">
            <div id="historyFilter" class="col-10 mx-auto">
              <input type="text" name="objname" class="form-control form-control-sm" onkeyup="fetchEvents(this)" id="id_objname" placeholder="Filter" data-url="{% url 'history' %}">
            </div>
            <div class="d-flex col-2 align-items-center justify-content-end" style="padding:0em">
              <a class="" href="#historyCarousel" data-url= "{% url 'history' %}" data-slide="next" onclick="toggleCorouselCookie(cookie)">
                <span style="color: gray;"><i class="fa fa-filter" aria-hidden="true"></i></span>
              </a>
            </div>     
          </div>
          {% include "history/eventlist.html" %}
        </div>
        <div id="settingsCorousel" class="carousel-item">
          <form id="settingsForm" action="{% url 'history' %}" method="POST">
            {% csrf_token %}
          <div class="d-flex flex-row p-2 align-items-center db-title">
            <div class="d-flex align-items-center justify-content-start">
              <a class="" href="#historyCarousel" data-url= "{% url 'history' %}" data-slide="prev" onclick="fetchEvents(this);toggleCorouselCookie(cookie)"></
                <span><i class="fa fa-filter" aria-hidden="true"></i></span>
              </a>
            </div>
            <div class="d-flex align-items-center mx-auto">
              <span class="align-items-center">Filter Settings</span>
            </div>  
          </div>
          {% include "history/history_settings.html" %}
        </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

  // Create the cookie object for managing the history corousel.
    cookie = {
    name: 'activeHistoryCorousel',
    parent:'historyCorousel',
    valueLeft: 'events',
    valueRight: 'settings',
    leftCorouselID: 'eventsCorousel',
    rightCorouselID: 'settingsCorousel'
  }

  // Load eventslist on pageload.
  $(document).ready(function(){
    $.ajax({
            url: "{% url 'history' %}",
            data: {},
            dataType:'html',
            success: function(data){
                $('#historydata').html($('#eventlist',data).html());
                $('#settingsdata').html($('#settings',data).html());
                $( "#id_date__lt" )
                      .datepicker()
                      .addClass('form-control','form-control-sm')
                      .attr('placeholder','To');
                $( "#id_date__gt" )                      
                      .datepicker()
                      .addClass('form-control','form-control-sm')
                      .attr('placeholder','From');
                    }
          });
  })

  // Function for fetching data when user clicks on an event card.
    function updateHistoryObject(tag){
      // Construct the url 
        var id = $(tag).data('id');
        var route = $(tag).data("route");
        var baseUrl = document.location.origin;
        var url = baseUrl + route;
      // AJAX request for fetching and displaying the object associated with the event.
      $.ajax({
          url: url,
          type: 'GET',
          data: {
              'pk': id
          },
          dataType:'html',
          success: function(data){
            $('#data').html($('#updatedData',data).html()); // fetch and update the view
            $('#displayCorousel').removeClass('active'); // if the display corousel is active, de-activate it
            $('#createCorousel').addClass('active'); // set the create corousel as active
          }
      });
    };


    // Function for fetching events' list.
    function fetchEvents(tag){
          var searchParams = new URLSearchParams(window.location.search);
          var filterName = $('#historyFilter input').attr('name'); // id_objname
          var filterVal = $('#historyFilter input').val(); 
          searchParams.append(filterName,filterVal);
          
          // Get all values of the checkboxes
          $("#settingsForm :input[type=checkbox]").each(function(){
          var key = $(this).attr('name');
            var val = $(this).attr('value');
            var check = $(this).is(':checked');
            if (check){
              searchParams.append(key,val);
            }
          console.log($(this).attr('value'),$(this).is(':checked'));
          });

          // Get the date values
          $("#settingsForm :input[type=text]").each(function(){
          var key = $(this).attr('name');
          var val = $(this).val();
          searchParams.append(key,val);
          console.log(key,val)
          });

          var baseUrl = document.location.origin;
          var url = new URL(baseUrl + $(tag).data('url'));
          $.ajax({
            url: url,
            type: 'GET',
            data: searchParams.toString(), 
            dataType:'html',
            success: function(data){
              $('#historydata').html($('#eventlist',data).html());
              $('#settingsdata').html($('#settings',data).html());
              $( "#id_date__lt" )
                      .datepicker()
                      .addClass('form-control','form-control-sm')
                      .attr('placeholder','To');
                $( "#id_date__gt" )                      
                      .datepicker()
                      .addClass('form-control','form-control-sm')
                      .attr('placeholder','From');
            }
        });
      }


    

</script>
<style>
  #history-card {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    position: relative;
    /* padding: 8px 30px 8px 20px; */
    padding: 8px 8px 8px 8px;
    margin: 1px;
    color: #252525;
    font-family: var(--base-font);
	  list-style-type: none;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(46, 49, 50, 0.16) 0px 1px 2.94px 0.06px;
    border-color: currentcolor;
    cursor: pointer;
  }

  #history-card:hover {
    scale: 1.03;
  }

  .scroller {
      height: 450px;
      overflow: auto;
      scrollbar-width: none;  /* Firefox */
  }

</style>
